<mat-card class="card">
    <mat-card-header>
        <mat-card-title class = "text-center">Reset Password</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="resetPassword()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="userPasswordForm.email" name="email" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Current Password</mat-label>
            <input matInput type="password" [(ngModel)]="userPasswordForm.currentPassword" name="newPassword" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>New Password</mat-label>
            <input matInput type="password" [(ngModel)]="userPasswordForm.newPassword" name="newPassword" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" [(ngModel)]="userPasswordForm.confirmPassword" name="confirmPassword" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!isPasswordMatch()">
            Reset
        </button>
    </form>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

</mat-card>