<div class="card">
  <h2>Sign Up</h2>
  <form #signupForm="ngForm" (ngSubmit)="signupUser()" novalidate>
    <div class="form-group">
      <input type="text" name="name" [(ngModel)]="user.username" required placeholder="Username">
    </div>

    <div class="form-group">
      <input type="email" name="email" [(ngModel)]="user.email" required email placeholder="Email"
             #emailInput="ngModel">
      <small *ngIf="emailInput.invalid && emailInput.touched" class="error">
        {{ emailInput.errors?.['required'] ? 'Email is required.' : 'Invalid email format.' }}
      </small>
    </div>

    <div class="form-group">
      <input type="password" name="password" [(ngModel)]="user.password" required
             pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
             #passwordInput="ngModel" placeholder="Password">
      <small *ngIf="passwordInput.invalid && passwordInput.touched" class="error">
        Password must be at least 8 characters long, with one uppercase, one lowercase, one number, and one special character.
      </small>
    </div>

    <div class="form-group">
      <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" required
             #confirmPasswordInput="ngModel" placeholder="Confirm Password">
      <small *ngIf="user.password !== confirmPassword && confirmPasswordInput.touched" class="error">
        Passwords do not match.
      </small>
    </div>

    <button type="submit" [disabled]="!signupForm.valid || user.password !== confirmPassword">
      Sign Up
    </button>
    <div *ngIf="errorMessage">
      <p class ="error">{{errorMessage}}</p>
      <p >Proceed to <a href="/login">LOGIN?</a></p>
    </div>
    
  </form>
</div>
