
<form [formGroup]="signupForm" (ngSubmit)="signupUser()" class="signup-form">
  <mat-card-header>
    <mat-card-title class="text-center" style="font-size: 1.5em;">Signup</mat-card-title>
  </mat-card-header>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="username">
    <mat-error *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">
      Username is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email">
    <mat-error *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
      Enter a valid email
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
      Password is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword">
    <mat-error *ngIf="!isPasswordMatch() && signupForm.get('confirmPassword')?.touched">
      Passwords do not match
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid || !isPasswordMatch()">
    Sign Up
  </button>
  
  <mat-card *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </mat-card>
 <p style="text-align: center;">Already Have an account ? <a href="/login">Login</a>
 </p>

</form>
